.with-sidebar{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.sidebar{
    flex-basis: 14rem;
    flex-grow: 1;
    padding: 1rem;
    max-width: fit-content;
}
aside{
background-color: crimson;
}
.not-sidebar{
    flex-basis: 0;
    padding: 1rem;
    flex-grow: 999;
    min-inline-size: 50%;
}
.wrapper{
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto;
}
img{
max-width: 20rem;
border-radius: 50%;
}
